[submodule "src/bleach"]
	path = src/bleach
	url = git://github.com/jsocol/bleach.git
[submodule "src/cache-panel"]
	path = src/cache-panel
	url = git://github.com/jbalogh/django-debug-cache-panel
[submodule "src/check"]
	path = src/check
	url = git://github.com/jbalogh/check.git
[submodule "src/commonware"]
	path = src/commonware
	url = git://github.com/jsocol/commonware.git
[submodule "src/django-cache-machine"]
	path = src/django-cache-machine
	url = git://github.com/jbalogh/django-cache-machine.git
[submodule "src/django-cronjobs"]
	path = src/django-cronjobs
	url = git://github.com/jsocol/django-cronjobs.git
[submodule "src/django-debug-toolbar"]
	path = src/django-debug-toolbar
	url = git://github.com/robhudson/django-debug-toolbar.git
[submodule "src/django-extensions"]
	path = src/django-extensions
	url = git://github.com/django-extensions/django-extensions.git
[submodule "src/django-mozilla-product-details"]
	path = src/django-mozilla-product-details
	url = git://github.com/fwenzel/django-mozilla-product-details
[submodule "src/django-multidb-router"]
	path = src/django-multidb-router
	url = git://github.com/jbalogh/django-multidb-router.git
[submodule "src/django-nose"]
	path = src/django-nose
	url = git://github.com/jbalogh/django-nose.git
[submodule "src/jingo"]
	path = src/jingo
	url = git://github.com/jbalogh/jingo.git
[submodule "src/jingo-minify"]
	path = src/jingo-minify
	url = git://github.com/jsocol/jingo-minify.git
[submodule "src/py-wikimarkup"]
	path = src/py-wikimarkup
	url = git://github.com/pcraciunoiu/py-wikimarkup.git
[submodule "src/schematic"]
	path = src/schematic
	url = git://github.com/jbalogh/schematic.git
[submodule "src/test-utils"]
	path = src/test-utils
	url = git://github.com/jbalogh/test-utils.git
[submodule "src/tower"]
	path = src/tower
	url = git://github.com/clouserw/tower.git
[submodule "src/django"]
	path = src/django
	url = git://github.com/django/django
[submodule "src/django-authority"]
	path = src/django-authority
	url = git://github.com/jsocol/django-authority
[submodule "src/django-csp"]
	path = src/django-csp
	url = git://github.com/mozilla/django-csp.git
[submodule "src/tweepy"]
	path = src/tweepy
	url = git://github.com/tweepy/tweepy.git
[submodule "src/django-timezones"]
	path = src/django-timezones
	url = git://github.com/brosner/django-timezones.git
[submodule "src/sphinxapi"]
	path = src/sphinxapi
	url = git://github.com/jsocol/sphinxapi
[submodule "src/django-waffle"]
	path = src/django-waffle
	url = git://github.com/jsocol/django-waffle.git
[submodule "src/django-mobility"]
	path = src/django-mobility
	url = git://github.com/jbalogh/django-mobility
[submodule "src/python-magic"]
	path = src/python-magic
	url = git://github.com/ahupp/python-magic.git
[submodule "src/smuggler"]
	path = src/smuggler
	url = git://github.com/semente/django-smuggler.git
[submodule "src/funfactory"]
	path = src/funfactory
	url = git://github.com/mozilla/funfactory.git
[submodule "lib/phpbb3-static"]
	path = lib/phpbb3-static
	url = git://github.com/mozilla/phpbb3-static.git
[submodule "src/django-recaptcha"]
	path = src/django-recaptcha
	url = git://github.com/praekelt/django-recaptcha.git
[submodule "src/django-constance"]
	path = src/django-constance
	url = git://github.com/jezdez/django-constance.git
[submodule "src/requests"]
	path = src/requests
	url = git://github.com/kennethreitz/requests.git
[submodule "src/nuggets"]
	path = src/nuggets
	url = git://github.com/mozilla/nuggets.git
[submodule "src/django-browserid"]
	path = src/django-browserid
	url = git://github.com/mozilla/django-browserid.git
[submodule "src/soapbox"]
	path = src/soapbox
	url = git://github.com/ubernostrum/django-soapbox.git
[submodule "src/basket-client"]
	path = src/basket-client
	url = git://github.com/mozilla/basket-client.git
[submodule "src/pytidylib"]
	path = src/pytidylib
	url = git://github.com/countergram/pytidylib.git
